Phresco/maven_jaxB/src/main/java/redirectKeyword.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="keywordredirects">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="keywordredirect" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="redirectTerm"/>
              <xs:element type="xs:string" name="redirectUrl"/>
              <xs:element type="xs:string" name="redirectType"/>
              <xs:element type="xs:string" name="searchProfileId"/>
              <xs:element type="xs:string" name="startDate"/>
              <xs:element type="xs:string" name="endDate"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>