Phresco/maven_jaxB/src/main/java/com/photon/phresco/plugins/Promo.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="promos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="promo" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="promoName"/>
              <xs:element type="xs:short" name="skuIds"/>
              <xs:element type="xs:string" name="startDate"/>
              <xs:element type="xs:string" name="endDate"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>