Phresco/maven_jaxB/src/main/java/com/photon/phresco/plugins/synonyms.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="synonyms">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="synonym" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="primaryTerm"/>
              <xs:element type="xs:long" name="listId"/>
              <xs:element type="xs:string" name="directionality"/>
              <xs:element type="xs:string" name="exactMatch"/>
              <xs:element type="xs:string" name="term"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>